.login-box {
  margin: 0 auto;
  margin-top: 15%;
  padding: 35px 30px;
  background-color: transparent;
  border: 1px solid #01384d;
  border-radius: 10px;
}

.login-title {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #01384d;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}

.inp-login {
  position: relative;
  width: 100%;
  padding: 16px 50px;
  background-color: #ffffff;
  border: 1px solid #01384d;
  border-radius: 7px;

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 13px;
    height: 16px;
    background-image: url(../../assest/images/profile.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  &::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #01384d;
    opacity: 0.5;
  }
}

.login-btn {
  margin-top: 35px;
  width: 100%;
  padding: 17px;
  background-color: #01384d;
  opacity: 0.5;
  border-radius: 7px;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
