.admin-toifa-edite {
  background-color: #01384d1a;
}

.otkazEditeBtn {
  border: none;
  background-color: transparent;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.editeHa {
    padding: 9px 28px;
    background-color:  rgb(214, 31, 31,0.1);
    border: none;
    border-radius: 5px;
    // font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #d61f1f;
}
